body {
  font-family: "PT Sans", sans-serif;
  justify-content: space-evenly;
}
/* nav bar// */

.bg-navbar {
  background-color: #423e37;
}
nav h1 {
  color: #fff;
  font-size: 1.5rem;
}
.navbar-brand,
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color: #fff;
}
.active {
  color: #fff !important;
  border-bottom: 2px solid #fff;
}
.nav-link:hover {
  border-bottom: 2px solid #fff;
}
.form-control {
  border: none;
  border-radius: 8px 0 0 8px;
}
nav .btn {
  border: none;
  border-radius: 0 8px 8px 0;
}
.d-flex {
  border: none;
  border-radius: 8px;
}
nav .btn {
  margin-left: -8px;
}
.navbar-toggler {
  color: #e6b73c;
}
/* slider// */

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
}
/* our mentors// */
#our-mentors h1,
#stu-review h1,
#feature h1,
#web-development h1,
header {
  border-bottom: 1px solid rgb(224, 218, 218);
}
.tr-1 p {
  word-spacing: 20px;
}

/* stu-reviews// */

.rate {
  text-align: center;
}
/* course page// */
/* web-development section// */
#web-development .display {
  display: inline-block;
  line-height: 0.2rem;
}
#web-development .card px-0 {
  width: 450px;
}
.bi-pin-map-fill {
  color: #e6b73c;
}

/* about-us page// */
/* about-us section// */

#about-us p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.5rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
/* Mission and vision section// */
#mission-vision {
  margin-top: 50px;
}
#mission-vision .bi {
  font-size: 1.5rem;
}
#mission-vision .display h1 {
  font-size: 1.5rem;
  display: inline-block;
  font-weight: bold;
}

/* contact page// */
#contact {
  margin: 0 100px 0 100px;
}
#contact h1 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 30px;
}
#contact p {
  line-height: 2rem;
  font-size: 1rem;
}
#contact li {
  line-height: 3.5rem;
  font-size: 1rem;
}
#contact .text {
  padding: 8px;
  border: 1px solid black;
  border-radius: 50%;
}
#contact .form {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  margin-right: 100px;
}
#contact .btn {
  width: 90px;
  height: 40px;
  border: none;
  background-color: #423e37;
  color: white;
  border-radius: 5px;
}

/* footer section// */
.bg-footer {
  background-color: #edebd7;
}
footer a {
  color: #e6b73c;
}
